@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(109, 216, 109);
  overflow: hidden;
}/*making sure game displays correctly in window*/

p {
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  line-height: 1.5em;
}

#splash-screen {
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  font-size: 35px;
  background-color: darkgoldenrod;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10px;
  border: 4px solid black;
}

#start {
  display:grid;
  margin: auto;
  font-family: 'Press Start 2P', monospace;
  background-color: #747b74; /* Green */
  font-size: 16px;
  color: rgb(3, 3, 3);
  padding: 15px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(185, 68, 35, 0.8);
  box-shadow: 2px 2px 4px rgba(6, 5, 5, 0.4);
  opacity: 0.8;
  cursor: pointer;
}

canvas {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white; */
  max-width: 100%;
 max-height: 100%;

}
#music {
  font-size: 16px;
  color: #eee;
  position: relative;
  width: 70px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(9, 106, 61, 0.8);
  box-shadow: 2px 2px 4px rgba(222, 211, 211, 0.4);
  opacity: 0.8;
  cursor: pointer;
}
#pause {
  font-size: 16px;
  color: #eee;
  position: relative;
  width: 70px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(185, 68, 35, 0.8);
  box-shadow: 2px 2px 4px rgba(222, 211, 211, 0.4);
  opacity: 0.8;
  cursor: pointer;
}

#reset {
  font-size: 16px;
  color: #eee;
  position: relative;
  width: 70px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(22, 111, 114, 0.8);
  box-shadow: 2px 2px 4px rgba(222, 211, 211, 0.4);
  opacity: 0.8;
  cursor: pointer;
}

#main {
  display: hidden;
}

#menu {
  display: none;
  margin-left: 10px;
  padding-left: 10px;
  background-color: black;
}

#menuright {
  float: right;
  background-color: black;
}

#win {
  display: none;
  position:absolute;
  top: 10px;
  left: 350px;
  background-color: darkgoldenrod;
  border-radius: 4%;
  padding: 10px;
}

#lose {
  display: none;
  position:absolute;
  top: 10px;
  left: 350px;
  background-color: darkgoldenrod;
  border-radius: 4%;
  padding: 10px;
}
