html, body {
  background-color: rgb(109, 216, 109);
  /* overflow: hidden; */
}/*making sure game displays correctly in window*/

p {
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-size: 18px;
}

#splash-screen {
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  font-size: 35px;
  background-color: darkgoldenrod;
  margin-left: 25%;
  margin-right: 25%;
  border: 4px solid black;
}

#start {
  display:grid;
  margin: auto;
  font-family: 'Press Start 2P', monospace;
  background-color: #747b74; /* Green */
  border: black;
  color: darkred;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#music {
  font-size: 16px;
  color: #eee;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(200%, 5%);
  width: 70px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: rgba(9, 106, 61, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

#main {
  display: hidden;
}



/* body {
  padding-top: 1em;
  text-align: center;
  background-color: rgb(212, 214, 192);
  /* background-image: url('../img/dungeonhell.png'); */
 


/* h1, h2 {
  font-family: 'Press Start 2P', monospace;
  color: rgb(45, 77, 193);
} */



/* #container {
max-width: 50em;
background-color: rgb(26, 71, 62);
margin: 0 auto;
padding: 1em;
display: grid;
grid-gap: 1em;
grid-template-rows: .2fr .6fr .2fr;
grid-template-columns: .2fr .6fr .2fr;
grid-template-areas: "top-left top-left top-right"
                      "game game game"
                      "btm-left btm-right btm-right";
}

#top-left, #top-right, #btm-left, #btm-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(109, 216, 109);
}

#top-left {
  grid-area: top-left;
}

#top-right {
  grid-area: top-right;
  /* background-color: #222; */
  /* background-image: url('../img/funky-lines.png'); */
/* }

main {
  grid-area: game;
}


#btm-left {
  grid-area: btm-left;
  /* background-color: #222; 
}

#btm-right {
  grid-area: btm-right;
  /* background-color: #222; 
}
